// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login{
	paddding-top:40px;
}

.login-body{
	margin:0px auto;
	max-width: 500px;
	background-color: #fff;
	border-radius: 3px;
	padding: 20px;
}
